body{
   padding-left: 10%;
   padding-right: 10%;
   
}

header{
   background: bisque;
}

div{
   background-color: gold;
}
h1 {
   font-family: 'Roboto', sans-serif;
   color: limegreen;
   padding-left: 5%;
   padding-top: 1%

} 

h2{
   font-family: 'Roboto', sans-serif;;
   padding-left: 5%;
   padding-top: 1%
}

p, ul {
   padding-left: 5%;
   ;
}
a{
   font-family: 'Roboto', sans-serif;;
}