body{
   background-image: url(img/bg_page.png);
   background-attachment: fixed;
  
      
}

header {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   background: bisque;
   border-radius: 15px;
   box-shadow: 0 0 10px blue;
   
}

div {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   background-color: gold;
   border-radius: 15px;
   box-shadow: 0 0 10px blue;
   padding-bottom: 5px;
   }
h1 {
   font-family: 'Roboto', sans-serif;
   color: limegreen;
   padding-left: 5%;
   padding-top: 1%;
   padding-bottom: 1%;

} 

h2 {
   font-family: 'Roboto', sans-serif;;
   padding-left: 5%;
   padding-top: 1%
}

p, ul {
   padding-left: 5%;
   ;
}
a {
   font-family: 'Roboto', sans-serif;;
}