p{
     font-style: italic;
     font-size: 18px;
     font-weight: bold;
}

/* применено для всех ссылок */
a {
     color: green
}
a:hover {
     color: red
}

/* Сопособ Второй */
.way2 {
     color: red; font-weight: bold; font-size: 15px;
}


/* Способ Третий */
div.way3>span {
          color: red; font-weight: bold; font-size: 25px;
}


/* Способ Четвертый */
div.way4>a::after{
     content:  "|" ; color:red; font-weight: bold; font-size: 25px;
}


/* Способ Пятый */
.way5 ul{
     padding-left: 0px;
}
.way5 li {
     display: inline;
     list-style-type: none;
}
div.way5 a:nth-child(-n+4) {
     border-right: solid red 3px ;
     padding-right: 3px;
}


/* Способ Шестой */
table {
     border-collapse: collapse;
}
td {
     
     padding-left: 20px;
     padding-right: 20px;
     border-right: solid red 3px;
}
td:last-of-type{
     border-right: none;
}


/* Способ Седьмой */
.way7>* {
     display: inline-table;
     padding-left: 20px;
     padding-right: 20px;
     border-right: solid red 3px;
}
.way7 :last-of-type {
     border-right: none;
}


/* Способ Восьмой */
.way8>* {
     display: inline;
     padding-left: 20px;
     padding-right: 20px;
     border-right: solid red 3px;
}
.way8 :last-of-type {
     border-right: none;
}


/* Способ Девятый */
.way9>* {
     display: inline-block;
     padding-left: 20px;
     padding-right: 20px;
     border-right: solid red 3px;
}
.way9 :last-of-type {
     border-right: none;
}